* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
/*   outline: 1px solid transparent; */
/*   -webkit-backface-visibility: hidden; */
/*           backface-visibility: hidden; */
/*   -webkit-filter: blur(0); */
/*           filter: blur(0); */
/*   -webkit-font-smoothing: subpixel-antialiased; */
}

body {
  transition: 0.5s;
/*   background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.4)); */
  box-shadow: inset 0 0 85px rgba(0, 0, 0, 0.4);
  background-color: gray;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  z-index: 0;
}

html {
/*   box-shadow: inset 0 0 85px rgba(0, 0, 0, 0.4); */
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

#backgroundTransitions {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0), rgba(189, 254, 255, 0.2));
  height: 100vh;
  width: 150vw;
/*   margin-left: -50vw; */
  position: absolute;
  z-index: -1;
  overflow-x: hidden;
}

.removeBodyShadow {
  transition: 0.7s;
  margin-left: 0vw;
}

.bodyShadow {
  transition: 0.7s;
  margin-left: -50vw;
/*   box-shadow: inset -50px 0 85px rgba(0, 0, 0, 0.4); */
/*   background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)); */
}



/*-------------- Header ---------------*/
header {
/*   text-shadow: 1px 1px 1px #000, 4px 4px 4px white; */
  position: absolute;
  color: white;
  background-color: black;
/*   background-image: linear-gradient(to bottom, black, white); */
  height: 15vh;
  width: 20vw;
/*   border-right: 5px solid rgba(0, 0, 0, 0.5); */
/*   border-radius: 0px 0px 15px 0px; */
/*   clip-path: polygon(100% 0, 60% 5%, 60% 95%, 100% 100%, 0 100%, 0 0); */
}

h1 {
  top: 5vh;
  left: 1vw;
  position: absolute;
}




/*--------------- Guardians ----------------*/
#accountContainer {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 85vw;
  margin-left: 6vw;
  padding-bottom: 2vh;
  justify-content: space-evenly;
}

#accountName {
  text-shadow: 1px 1px 1px #000, 4px 4px 4px black;
/*   padding-left: 1vw; */
  padding: 1vh;
  position: absolute;
  bottom: 0;
  margin-top: 0;
  background: rgba(0,0,0,.6);
  color: white;
  font-size:x-large;
  width: inherit;
  height: 5vh;
}

#accountsGuardians {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: 7vh;
  margin-bottom: 5vh;
  width: 100%;
}

.guardianContainer {
  height: 10vh;
  width: 20vw;
  border: 5px dashed orange;
}

.guardian1:hover {
  -webkit-transform: scale(2, 2);
          transform: scale(2, 2);
  transition: 1s;
}

.guardian2:hover {
  height: 70vh;
  width: 70vw;
  transition: 1s;
}

.guardian3:hover {
  height: 70vh;
  width: 70vw;
  transition: 1s;
}




/* -------------- Main Nav Container ------------- */
.landingPageNavigation {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  width: 100%;
  height: 90vh;
  align-self: center;
  align-content: center;
/*   margin-top: 5vh; */
}

.testBground {
  background-color: red;
}

.loading {
  background-image: linear-gradient(0deg, rgb(22, 244, 197) 0%, rgb(22, 244, 197) 12%,rgb(24, 219, 187) 12%, rgb(24, 219, 187) 51%,rgb(26, 193, 176) 51%, rgb(26, 193, 176) 52%,rgb(28, 168, 166) 52%, rgb(28, 168, 166) 66%,rgb(29, 143, 155) 66%, rgb(29, 143, 155) 73%,rgb(31, 117, 145) 73%, rgb(31, 117, 145) 80%,rgb(33, 92, 134) 80%, rgb(33, 92, 134) 100%);
  -webkit-animation: drop 6s linear infinite;
          animation: drop 6s linear infinite;
  height: 100%;
  width: 105%;
  margin-left: -2vw;
  position: absolute;
  z-index: -1;
  transition: 0.5s;
}

@-webkit-keyframes drop {
  0% {-webkit-transform: translateY(-1000px);transform: translateY(-1000px); }
  100% {-webkit-transform: translateY(1000px);transform: translateY(1000px); }
}

@keyframes drop {
  0% {-webkit-transform: translateY(-1000px);transform: translateY(-1000px); }
  100% {-webkit-transform: translateY(1000px);transform: translateY(1000px); }
}







/* ---------------- Powerful & Popular --------------- */
.pnp-container {
/*   border: 2px solid black; */
  width: 80vw;
  height: 90vh;
  margin-top: 5vh;
  display: grid;
}

.weapon-searcher {
  display: flex;
  justify-content: center;
}

.current-combination {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  border: 3px solid black;
}

.current-weapon {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.current-stats {
  background-color: red;
}

.click-to-search {
/*   left: 45%; */
/*   top: 45%; */
/*   height: 5vh; */
/*   width: 10vw; */
/*   position: absolute; */
/*   background-color: orange; */
}

.dropdownSelector {
  height: 5vh;
  width: 15vw;
  font-size-adjust: 0.8;
  text-align: center;
}

.powerful-combinations, .popular-combinations {
  background-image: linear-gradient(to top, gray, white);
  display: flex;
  align-items: center;
  width: 80vw;
}

.all-powerful-partners, .all-popular-partners {
  height: 25vh;
  display: flex;
  flex-flow: row nowrap;
/*   justify-content: space-evenly; */
  overflow-x: scroll;
}

.pow-weapon, .pop-weapon {
  height: 20vh;
  width: 10vw;
  margin-left: 1vw; 
  margin-right: 1vw;
  text-align: center;
  pointer-events: auto;
}

.pow-wep-name, .pow-wep-type, .pop-wep-name, .pop-wep-type {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pow-wep-name, .pow-wep-type, .pow-wep-icon, .pop-wep-name, .pop-wep-type, .pop-wep-icon {
  pointer-events: none;
}

.popular-combinations {
  background-image: linear-gradient(to bottom, gray, white);
/*   display: flex; */
/*   align-items: center; */
}

.combination-container {
  opacity: 1;
    -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 2;
  transition: 0.2s;
  
}

.display-combos {
/*   background-color: red; */
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 2;
  opacity: 1;
  -webkit-transform: translate3d(0%, 0, 0);
          transform: translate3d(0%, 0, 0);
}

.combo-and-pie-container {
  display: flex;
}

.current-combination .playerPerformances, .current-combination .eachPlayerStatBar, .current-combination .eachPlayerStatBarLeft, .current-combination .eachPlayerStatBarRight {
  opacity: 1;
}






/* -------------- Comparisons --------------- */
.comparison-container {
  height: 100vh;
  width: 100vw;
  opacity: 1;
    -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
    position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  transition: 0.2s;
}

.display-comps {
  z-index: 2;
  opacity: 1;
  -webkit-transform: translate3d(0%, 0, 0);
          transform: translate3d(0%, 0, 0);
}

.child-comparison-container {
/*   background-color: steelblue; */
  background-color: rgba(255, 255, 255, 0.9);
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.first-weapon, .second-weapon {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  width: 45%;
  position: relative;
/*   align-content: center; */
/*   align-items: center; */
}

.first-weapon .Polar-chart {
  right: 0;
  height: 20%;
/*   position: absolute; */
  margin-bottom: 10px;
}

.second-weapon .Polar-chart {
  left: 0;
  height: 20%;
/*   position: absolute; */
}

.child-comparison-container .playerPerformances, .child-comparison-container .eachPlayerStatBar, .child-comparison-container .eachPlayerStatBarLeft, .child-comparison-container .eachPlayerStatBarRight {
  opacity: 1;
}

.child-comparison-container .comparison-stats {
  height: 75%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
/*   justify-content: center; */
}

.first-weapon .comparison-stats {
  align-items: flex-end;
}

.child-comparison-container .eachWepStat {
  margin-left: 0;
  height: 5%;
}

.second-weapon .eachWepStat {
  flex-flow: row-reverse nowrap;
}

.child-comparison-container .statVals {
  display: flex;
  justify-content: center;
}

.first-weapon .statNames {
  display: flex;
  justify-content: flex-end;
}

.child-comparison-container .statBarContainers {
  width: 60%;
}

.child-comparison-container .playerPerformances {
  display: flex;
  align-self: unset;
}

.child-comparison-container .wepNameIconType {
  height: 20%;
/*   margin-bottom: 5%; */
  position: absolute;
}

.first-weapon .wepNameIconType {
  
}

.second-weapon .wepNameIconType {
  align-self: flex-end;
}

.between-two-comparisons {
  display: flex;
  flex-flow: column nowrap;
/*   justify-content: center; */
  width: 10%;
  height: 100%;
}

.dropdown-select {
  height: 20%;
  margin-bottom: 10px;
}

.comparison-differences {
  height: 75%;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
}

.comparison-differences div {
  height: 5%;
  width: 100%;
/*   display: block; */
/*   margin-bottom: 2%; */
/*   position: absolute; */
}

.superior-first {
  background-image: radial-gradient(circle at 0%, green, transparent 25%);
}

.superior-second {
  background-image: radial-gradient(circle at 100%, green, transparent 25%);
}






/* -------------- Weapon Charts --------------- */
#weaponContainer {
/*   overflow-y: scroll; */
  height: 100%;
  width: 100%;
  margin-top: 5vh;
}

.wepChartsItem {
  height: 150px;
  width: 90vw;
  margin-left: 5vw;
  display: flex;
/*   flex-flow: row nowrap; */
  background-color: transparent;
  border: none;
  margin-bottom: 3vh;
  transition: 0.3s;
  position: relative;
}

.wepNumber {
  height: 5vh;
  width: 5vw;
  margin-top: 6vh;
  border: 1px solid black;
  border-radius: 3px 0 0 3px;
  border-right: none;
  background-color: black;
  color: white;
  font-size:large;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -1px;
  opacity: 0.7;
}

.wepIcons {
  width: 100px;
  height: 100px;
  justify-self: flex-start;
  display: flex;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, .3);
}

.item-body {
  display: flex;
  flex-flow: column nowrap;
  height: 150px;
}

.beingFocused .item-body {
  height: 700px;
}

.weapon-header {
  height: 50px;
  position: absolute;
}

.wepName {
  line-height: 40px; 
}

.damage-type-icon {
  height: 30px;
  width: 30px;
}

.wepType {
  line-height: 40px;
}

.wepNameIconType {
  display: flex;
  z-index: 1;
  color: white;
  font-weight: bold;
  white-space:nowrap;
}

.popularityAndWinRate {
  display: flex;
  flex-flow: column nowrap;
  background-color: pink;
}

.timesUsed {
/*   height: 50%; */
  display: flex;
  align-items: center;
}

.winRate {
/*   height: 50%; */
  align-items: center;
}

.combAndCompButtons {
  opacity: 0;
  pointer-events: none;
}

.beingFocused .combAndCompButtons {
  opacity: 1;
  pointer-events: auto;
}

.combination-button, .comparison-button {

}

.combination-button:hover, .comparison-button:hover {
  opacity: 1;
  cursor: pointer;
}

.wepDescription {
/*   position: absolute; */
  top: 500px;
/*   left: 16vw; */
  height: 50px;
  width: 70vw;
  background-color: red;
}

.t6 {
/*   background-color: #ceae33; */
/*   opacity: 0.5; */
  background: rgba(206, 174, 51, .7);
  border: 1px solid rgba(206, 174, 51, .7);
  box-shadow: 0px 0px 4px 2px rgba(206, 174, 51, .7);
}

.t5 {
/*   background-color: #522f65; */
/*   background: rgba(82, 47, 101, .8); */
    background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(82, 47, 101, .8);
  box-shadow: 0px 0px 4px 2px rgba(82, 47, 101, .8);
}

.t4 {
/*   background-color: #5076a3; */
  background: rgba(80, 118, 163, .7);
  border: 1px solid rgba(80, 118, 163, .7);
  box-shadow: 0px 0px 4px 2px rgba(80, 118, 163, .7);
}

.t3 {
/*   background-color: #366f42; */
  background: rgba(54, 111, 66, .7);
  border: 1px solid rgba(54, 111, 66, .7);
  box-shadow: 0px 0px 4px 2px rgba(54, 111, 66, .7);
}

.t2 {
/*   background-color: #c3bcb4; */
  background: rgba(195, 188, 180, .7);
  border: 1px solid rgba(195, 188, 180, .7);
  box-shadow: 0px 0px 4px 2px rgba(195, 188, 180, .7);
}

.wepAttributes {
  width: 75vw;
  display: flex;
  flex-flow: row-reverse nowrap;
}

.wepAttributes6 {
  background: rgba(206, 174, 51, .6);
}

.wepAttributes5 {
/*   background: rgba(82, 47, 101, .6); */
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 2px 2px 2px rgba(82, 47, 101, .5),
    -1px -1px 2px rgba(255, 255, 255, 0.3);
}

.wepAttributes4 {
  background: rgba(80, 118, 163, .6);
}

.wepAttributes3 {
  background: rgba(54, 111, 66, .6);
}

.wepAttributes2 {
  background: rgba(195, 188, 180, .6);
}

.beingFocused .wepAttributes {
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.statsContainer {
  border-radius: 0 3px 3px 0;
/*   background-color: orange; */
  width: 250px;
}

.pie-chart {
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}

.beingFocused .pie-chart {
  opacity: 1;
  pointer-events: auto;
}

.beingFocused .wepStatVals {
  flex-flow: column nowrap;
  transition: 0.2s;
  height: 500px;
/*   padding-bottom: 200px; */
}

.beingFocused {
  height: 700px;
  padding-bottom: 200px;
}

.wepStatVals {
  display: flex; 
  height: 140px;
  flex-flow: column wrap;
  padding-top: 1vh;
} 
 
.statBarContainers {
/*   background-color: red; */
  height: 80%;
  width: 40%;
  display: flex;
/*   display: none; */
  align-self: center;
  position: relative;
}

.statVals {
  width: 2.5em;
  line-height: 200%;
/*   background-color: black; */
}

.statNames {
/*   background-color: black; */
  line-height: 200%;
  height: 100%;
  width: 8em;
  white-space: nowrap;
}

.eachWepStatBar {
  background-color: green;
}

.eachStatBarBg {
  background: rgba(195, 188, 180, .6);
}

.eachAvStatBar {
  border-right: 5px solid orange;
  position: absolute;
  height: 100%;
}

.eachWepStat {
  display: flex;
  justify-content: flex-end;
/*   justify-content: space-between; */
  height: 11%;
  width: 350px;
  margin-left: -20vw;
}

.playerPerformances {
  justify-content: space-evenly;
  align-self: flex-end;
  opacity: 0;
}

.beingFocused .playerPerformances {
  opacity: 1;
}

.playerStatBarContainers {
/*   background-color: powderblue; */
  height: 50%;
  width: 50%;
  display: flex;
  align-self: center;
  position: relative;
}


.eachPlayerStatBar {
  border-right: 5px solid cyan;
  position: absolute;
  height: 100%;
  opacity: 0;
  z-index: 1;
}

.eachPlayerStatBarLeft {
  background-color: red;
  border-radius: 15px 0 0 15px;
  opacity: 0;
}

.eachPlayerStatBarRight {
  background-color: green;
  border-radius: 0 15px 15px 0;
  opacity: 0;
}

.beingFocused .eachPlayerStatBar, .beingFocused .eachPlayerStatBarLeft, .beingFocused .eachPlayerStatBarRight {
  opacity: 1;
}



.wepPerks {
  display: flex;
  flex-flow: row nowrap;
  width: 30vw;
  height: 100%;
  margin-top: 1vh;
/*   border: 5px groove red; */
}

.weapon-socket .socket-tooltip {
  visibility: hidden;
  position: absolute;
}

.weapon-socket:hover .socket-tooltip {
  visibility: visible;
}

.socketIcons {
  height: 3em;
}

.socketIcons:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  z-index: 2;
}

.socket-tooltip {
  background-color: black;
  color: white;
  height: 15em;
  width: 15em;
  padding-top: 5em;
  border-radius: 15px;
  display: flex;
  justify-content: space-evenly;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: -6vh;
  margin-left: -5.5em;
  pointer-events: none;
  z-index: 1;
}

.socketName {
  font-size-adjust: 0.7;
/*   background-color: green; */
}

.socketDesc {
/*   background-color: skyblue; */
  width: 80%;
}

.wep-type-selector {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  justify-content: end;
  grid-gap: 5px;
  border: 5px solid transparent;
  border-top: 10px solid black;
  border-right: 10px solid black;
/*   border-radius: 15px; */
  padding: 15px;
  opacity: 0;
  transition: 1s;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-perspective-origin: 60% 50%;
          perspective-origin: 60% 50%;
}

.wep-type-selector button {
  height: 4em;
  width: 8em;
  -webkit-transform: scale(1.2) rotate3d(0, 1, 0, 90deg);
          transform: scale(1.2) rotate3d(0, 1, 0, 90deg);
  color: transparent;
  font-size-adjust: 0.6;
  transition: 1s;
  border: 1px solid transparent;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 100, 255, .7);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8),
              -2px -2px 5px rgba(255, 255, 255, 0.8);
}

.wep-type-selector button p {
  position: relative;
  z-index: 3;
}

.wep-type-selector button:hover {
  cursor: pointer;
  background-color: rgba(0, 100, 255, 1); 
  -webkit-transform: translate3d(0, 0, -50px); 
          transform: translate3d(0, 0, -50px);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3),
              -2px -2px 5px rgba(255, 255, 255, 0.3);
  font-size-adjust: 0.6;
}

.finished-loading button {
  -webkit-transform: scale(1) rotate3d(0, 0, 0, 90deg);
          transform: scale(1) rotate3d(0, 0, 0, 90deg);
  color: white;
}









@media only screen and (max-width:500px) {
  #NavigationMenuContainer {
    display: block;
  }
  .CCcontainer {
    width: unset;
    height: unset;
  }
  #titanCC, #hunterCC, #warlockCC {
    width: unset;
    margin-top: 5vh;
    margin-bottom: 10vh;
  }
  
}