* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 1px solid transparent;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
/*   -webkit-filter: blur(0); */
/*           filter: blur(0); */
/*   -webkit-font-smoothing: subpixel-antialiased; */
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  
}

body {
/*   transition: 0.5s; */
/*   background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)); */
/*   box-shadow: inset 0 0 85px rgba(0, 0, 0, 0.4); */
  background-color: rgba(0, 0, 0, 0.9);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  z-index: 0;
  height: 100%;
  width: 100%;
}

html {
/*   box-shadow: inset 0 0 85px rgba(0, 0, 0, 0.4); */
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

main {
/*   border: 15px solid black; */
  min-height: 100vh;
  min-width: 98vw;
/*   box-shadow: inset 0 0 85px rgba(0, 0, 0, 0.4); */
  padding-bottom: 250px;
}



/*-------------- Header ---------------*/
header {
/*   text-shadow: 1px 1px 1px #000, 4px 4px 4px white; */
/*   position: absolute; */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  color: white;
/*   background-color: rgba(255, 255, 255, 0.2); */
/*   background-color: rgba(15, 15, 15, 1); */
  background-color: #303030;
  display: grid;
/*   grid-gap: 15px; */
/*   align-items: center; */
  justify-content: flex-start;
/*   background-image: linear-gradient(to bottom, black, white); */
  height: 10%;
  width: 100%;
/*   padding-top: 2%; */
/*   box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8); */
  box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3), inset 0 0 30px rgba(0, 0, 0, 0.8);
/*   border-right: 5px solid rgba(0, 0, 0, 0.5); */
/*   border-radius: 0px 0px 15px 0px; */
/*   clip-path: polygon(100% 0, 60% 5%, 60% 95%, 100% 100%, 0 100%, 0 0); */
}

h1 {
/*   top: 0; */
/*   left: 0; */
/*   position: absolute; */
  line-height: 2em;
/*   padding-left: 1rem; */
/*   z-index: 7; */
  border-radius: 0 0 15px 0;
  text-align: center;
  height: 2em;
  width: 29vw;
  background-color: #161616;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
/*   background-color: black; */
  grid-area: 1 / 1 / 2 / 4;
}

.combine-and-compare-button, .show-charts-button {
  pointer-events: auto;
  z-index: 2;
/*   width: 100px; */
/*   height: 100px; */
  width: 15vw;
  position: relative;
  border: none;
  border-radius: 5px;
  background-color: transparent;
/*   background-color: rgba(0, 0, 255, 0.5); */
  color: rgba(180, 180, 180, 1);
/*   text-shadow: 0px 0px 1px rgba(255, 255, 255, 1); */
/*   font-size-adjust: 0.5; */
/*   font-size: large; */
  font-size: medium;
  font-size: initial;
  transition: 0.3s;
/*   box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.8); */
  padding: 1rem;
}

.combine-and-compare-button {
  grid-area: 2 / 1 / 3 / 2;
/*   margin-right: -30px; */
}

.show-charts-button {
  grid-area: 2 / 2 / 3 / 3;
/*   margin-right: -80px; */
}

.show-charts-button:after {
  background-color: red;
}

.show-charts-button:after, .combine-and-compare-button:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0.1em;
  width: 100%;
  background-color: transparent;
}

/* .show-charts-button:hover:after, .combine-and-compare-button:hover:after {
  background-color: white;
} */

.show-charts-button:hover, .combine-and-compare-button:hover {
  cursor: pointer;
  color: white;
/*   background-color: rgba(0, 100, 255, 1);  */
/*   box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.6); */
}

.page-selection {
  color: white;
}

.page-selection:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0.1em;
  width: 100%;
  background-color: white;
}



/* -------------- Main Nav Container ------------- */
.landingPageNavigation {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  width: 100%;
  height: 90vh;
  align-self: center;
  align-content: center;
/*   margin-top: 5vh; */
}

.testBground {
  background-color: red;
}

.loading {
  background-image: linear-gradient(0deg, rgb(22, 244, 197) 0%, rgb(22, 244, 197) 12%,rgb(24, 219, 187) 12%, rgb(24, 219, 187) 51%,rgb(26, 193, 176) 51%, rgb(26, 193, 176) 52%,rgb(28, 168, 166) 52%, rgb(28, 168, 166) 66%,rgb(29, 143, 155) 66%, rgb(29, 143, 155) 73%,rgb(31, 117, 145) 73%, rgb(31, 117, 145) 80%,rgb(33, 92, 134) 80%, rgb(33, 92, 134) 100%);
  -webkit-animation: drop 6s linear infinite;
          animation: drop 6s linear infinite;
  height: 100%;
  width: 105%;
  margin-left: -2vw;
  position: absolute;
  z-index: -1;
  transition: 0.5s;
}

@-webkit-keyframes drop {
  0% {-webkit-transform: translateY(-1000px);transform: translateY(-1000px); }
  100% {-webkit-transform: translateY(1000px);transform: translateY(1000px); }
}

@keyframes drop {
  0% {-webkit-transform: translateY(-1000px);transform: translateY(-1000px); }
  100% {-webkit-transform: translateY(1000px);transform: translateY(1000px); }
}

.loading-text {
  position: fixed;
  top: 40vh;
  left: 20vw;
  width: 60vw;
  color: white;
  z-index: 10;
  font-size: 2em;
  transition: 1s;
  pointer-events: none;
}




/* ---------------- C & C ----------------- */
.CC-parent {
  display: grid;
}

.combine-and-compare-display {
  z-index: -1;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 25px;
  padding-top: 200px;
/*   transform: translate3d(-230%, 0, 0) */
}

.clickable-weapon-icon, .clickable-weapon-name {
  pointer-events: none;
}

.show-CC-options-form {
  position: fixed;
  top: 12vh;
  left: 1vw;
  z-index: 5;
  display: none;
}

.show-CC-options-button {
  border: none;
  background-color: royalblue;
  color: white;
}

.weapon-list-parent {
  width: 350px;
  height: 900px;
/*   overflow-y: auto; */
/*   overflow-x: hidden; */
  background-color: transparent;
  display: grid;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-perspective-origin: 60% 50%;
          perspective-origin: 60% 50%;
}

.weapon-list-parent h3 {
  height: 140px;
  width: 300px;
  margin: 10px;
  line-height: 140px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  background-color: #303030;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 15px 15px 0px 0px;
  transition: 0.2s;
}

.weapon-list-parent h3:hover {
  cursor: pointer;
/*   -webkit-transform: rotate3d(1, 0, 0, -20deg); */
/*           transform: rotate3d(1, 0, 0, -20deg); */
}

.each-clickable-weapon {
  height: 40px;
/*   width: 140px; */
  width: 300px;
  margin: 10px;
  position: relative;
  z-index: 0;
}

.each-clickable-weapon:hover {
  cursor: pointer;
}

.each-clickable-weapon:hover:after {
  background-color: transparent;
}

.each-clickable-weapon:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
/*   background-color: rgba(0, 0, 0, 0.9); */
  z-index: 1;
  transition: 0.3s;
}

.clickable-weapon-icon {
  z-index: 2;
  position: absolute;
  bottom: 5%;
  left: 15%;
  display: none;
}

.clickable-weapon-name {
  z-index: 2;
/*   position: absolute; */
  color: white;
  top: 5%;
  width: 100%;
/*   line-height: 40px; */
/*   font-size-adjust: 0.6; */
}

.clicked-weapon {
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
  justify-content: center;
  height: 800px;
  width: 600px;
  padding-top: 75px;
  padding-bottom: 75px;
  position: fixed;
  left: 350px;
}

.clicked-weapon-header {
  text-align: center;
  margin-bottom: 30px;
  padding-left:  100px;
  color: white;
}

.clicked-weapon .playerPerformances, .clicked-weapon .playerStatBarContainers {
  opacity: 1;
}

.clicked-weapon .add-margin-top {
  margin-top: 0px;
}

.clicked-weapon .statBarContainers {
  width: 50%;
}

.clicked-weapon .eachWepStat {
  height: 100%;
}

.clicked-weapon .statNames, .clicked-weapon .statVals {
/*! line-height: 200%; */
  line-height: unset;
}

.chooseAMethod {
  grid-area: 1 / 3 / 2 / 4;
  height: 800px;
  width: 300px;
  left: 900px;
/*   background-color: orange; */
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: auto auto;
  position: fixed;
}

.combineMethod, .compareMethod {
  height: 75px;
  width: 125px;
  border: none;
/*   background-color: black; */
  background-color: rgba(8, 46, 89, 1);
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.8); 
  color: white;
  font-size: 1em;
/*   font-size-adjust: 0.6; */
/*   box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8); */
  transition: 0.3s;
}

.combineMethod:hover, .compareMethod:hover {
  cursor: pointer;
/*   background-color: rgba(0, 0, 0, 0.8); */
  background-color: rgba(0, 100, 255, 1); 
}

.back-button {
  position: absolute;
  top: 130px;
  right: 25px;
  height: 50px;
  width: 200px;
/*   font-size-adjust: 0.6; */
  font-size: 1em;
/*   font-weight: bold; */
  border: none;
/*   box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8); */
  color: white;
/*   background-color: black; */
  background-color: rgba(8, 46, 89, 1);
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.8);
  transition: 0.3s;
  position: fixed;
}

.back-button:hover {
  cursor: pointer;
  background-color: rgba(0, 100, 255, 1); 
}

.collapsed {
  opacity: 0;
  position: absolute;
  z-index: -1;
  pointer-events: none;
}





/* ---------------- Powerful & Popular --------------- */
.pnp-container {
/*   border: 2px solid black; */
  width: 1000px;
  height: 800px;
  margin-left: 400px;
/*   margin-top: 100px; */
/*   background-color: gray; */
  background-color: #303030;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  display: grid;
  grid-row-gap: 70px;
  position: fixed;
  z-index: 5;
}


.current-combination {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  grid-area: 1 / 1 / 2 / 2;
  height: 100%;
/*   margin-bottom: 50px; */
/*   border: 3px solid black; */
/*   -webkit-transform: translate3d(-100%, 0, 0); */
/*           transform: translate3d(-100%, 0, 0); */
}

.current-weapon {
  z-index: 1;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.partner-to-display {
  position: absolute;
/*   text-align: center; */
  
  top: 60px;
  left: 280px;
  z-index: 0;
  opacity: 0.8;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}

.selected-name, .selected-type {
  line-height: 50px;
}

.combo-and-pie-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.combo-and-pie-container .add-margin-top {
  margin-top: 0;
  display: none;
}

.current-stats {
  background-color: red;
}

.dropdownSelector {
  height: 5vh;
  width: 15vw;
  font-size-adjust: 0.8;
  text-align: center;
}

.pow-combo-header, .pop-combo-header {
  position: absolute;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.pow-combo-header {
  top: 250px;
  left: 50px;
}

.pop-combo-header {
  top: 540px;
  left: 50px;
}

.powerful-combinations, .popular-combinations {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
/*   background-color: rgba(255, 255, 255, 0.8); */
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
/*   width: 900px; */
  width: 100%;
  border-radius: 15px;
/*   -webkit-transform: translate3d(-100%, 0, 0); */
/*           transform: translate3d(-100%, 0, 0); */
/*   border: 5px solid black; */
}

.powerful-combinations {
  grid-area: 2 / 1 / 3 / 2;
}

.popular-combinations {
  grid-area: 3 / 1 / 4 / 2;
}

.all-powerful-partners, .all-popular-partners {
  height: 200px;
  display: flex;
  flex-flow: row nowrap;
/*   justify-content: space-evenly; */
  overflow-y: hidden;
}

.pow-weapon, .pop-weapon {
  height: 200px;
  width: 10vw;
  margin-left: 1vw; 
  margin-right: 1vw;
  text-align: center;
  pointer-events: auto;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.pow-weapon:hover, .pop-weapon:hover {
  cursor: pointer;
}

.pow-wep-name, .pow-wep-type, .pop-wep-name, .pop-wep-type {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pow-wep-name, .pow-wep-type, .pow-wep-icon, .pop-wep-name, .pop-wep-type, .pop-wep-icon {
  pointer-events: none;
}

.current-combination .playerPerformances, .current-combination .eachPlayerStatBar, .current-combination .eachPlayerStatBarLeft, .current-combination .eachPlayerStatBarRight {
  opacity: 1;
}







/* -------------- Comparisons --------------- */
.child-comparison-container {
/*   background-color: #303030; */
/*   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
/*   background-color: gray; */
/*   background-color: rgba(255, 255, 255, 0.8); */
  width: 900px;
  height: 830px;
  margin-left: 400px;
/*   margin-top: 100px; */
  padding-left: 50px;
  padding-right: 50px;
  position: fixed;
  display: flex;
  flex-flow: row nowrap;
  z-index: 5;
}

.child-comparison-container .add-margin-top {
  margin-top: 40px;
}

.compared-stat-wepPrecKillsAvg {
  margin-top: 40px;
}

.first-weapon, .second-weapon {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  width: 45%;
  position: relative;
  justify-content: space-between;
/*   background-color: rgba(255, 255, 255, 0.8); */
/*   margin-top: 30px; */
  border-radius: 15px;
/*   align-content: center; */
/*   align-items: center; */
/*   z-index: 1; */
}

.first-weapon:after, .second-weapon:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  margin-top: 30px;
/*   background-color: rgba(255, 255, 255, 0.8); */
/*   background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2),
    inset 0px 0px 15px rgba(0, 0, 0, 0.5); */
  background-color: #303030;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  z-index: -1;
}

.waiting-for-second-weapon {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 30px;
  margin-bottom: -30px;
/*   background-color: rgba(255, 255, 255, 0.1); */
/*   box-shadow: inset 0px 0px 15px rgba(255, 255, 255, 0.4); */
  border-radius: 15px;
}

.wepNameIcon-placeholder {
  height: 200px; 
  width: 200px;
  position: absolute;
  background-color: black;
  box-shadow: inset 0px 0px 5px 100px rgba(255, 255, 255, 0.2),
    0px 0px 1px rgba(0, 0, 0, 0.8);
  -webkit-transform: translate3d(25%, 0, 0);
          transform: translate3d(25%, 0, 0);
  top: 0;
  right: 0;
}

.first-weapon {
  margin-right: 100px;
}

.first-weapon .Polar-chart {
  right: 0;
  top: 30px;
  height: 20%;
  position: absolute;
}

.second-weapon .Polar-chart {
  left: 0;
  top: 30px;
  height: 20%;
  position: absolute;
}

.child-comparison-container .playerPerformances, .child-comparison-container .eachPlayerStatBar, .child-comparison-container .eachPlayerStatBarLeft, .child-comparison-container .eachPlayerStatBarRight {
  opacity: 1;
}

.child-comparison-container .comparison-stats {
  height: 500px;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
/*   align-self: flex-end; */
/*   justify-content: center; */
}

.first-weapon .comparison-stats {
  align-items: flex-end;
}

.child-comparison-container .eachWepStat {
  margin-left: 0;
  height: 5%;
/*   background-image: linear-gradient(to left, steelblue, transparent); */
  transition: 0.3s;
}

.first-weapon .eachWepStat {
/*   border-radius: 10px 0px 0px 10px; */
  z-index: 2;
/*   background-image: linear-gradient(to left, steelblue, transparent); */
}

.second-weapon .eachWepStat {
  flex-flow: row-reverse nowrap;
  z-index: 2;
/*   background-image: linear-gradient(to right, steelblue, transparent); */
}

.child-comparison-container .statVals {
  display: flex;
  justify-content: center;
  line-height: unset;
/*   text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); */
}

.first-weapon .statNames {
  display: flex;
  justify-content: flex-end;
  line-height: unset;
}

.second-weapon .statNames {
  display: flex;
  justify-content: flex-start;
  line-height: unset;
}

.child-comparison-container .statBarContainers {
  width: 60%;
}

.child-comparison-container .playerPerformances {
  display: flex;
  align-self: unset;
}

.wepNameIconType {
  height: 200px;
  width: 200px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  color: white;
}

.wepNameIconType .wepIcons {
  position: unset;
}

.child-comparison-container .wepIcons {
  border: unset;
  height: unset;
  width: unset;
}

.first-weapon .wepNameIconType {
  -webkit-transform: translate3d(-25%, 0, 0);
          transform: translate3d(-25%, 0, 0);
}

.second-weapon .wepNameIconType {
  align-self: flex-end;
  -webkit-transform: translate3d(25%, 0, 0);
          transform: translate3d(25%, 0, 0);
}

.comparison-differences {
  height: 530px;
  width: 800px;
  padding-top: 30px;
  
/*   position: relative; */
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  align-self: flex-end;
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes fade-in {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes fade-in {
  from {opacity: 0}
  to {opacity: 1}
}

.comparison-differences div {
  height: 5%;
  width: 100%;
/*   display: block; */
/*   margin-bottom: 2%; */
/*   position: absolute; */
}

.superior-first {
/*   position: absolute; */
/*   z-index: 1; */
  background-image: radial-gradient(circle at 25%, green, darkgreen 5%, transparent 40%);
}

.superior-second {
  background-image: radial-gradient(circle at 75%, green, darkgreen 5%, transparent 40%);
}

.first-equal-second {
  text-align: center;
  color: goldenrod;
  background-image: radial-gradient(circle at 50%, goldenrod, transparent 90%);
  font-size-adjust: 0.8;
/*   background-image: radial-gradient(circle at 50%, goldenrod, transparent 4%); */
}








/* -------------- Weapon Charts --------------- */
.dynamic-charts-display {
  height: 100%;
  width: 100%;
/*   box-shadow: inset 0 0 85px rgba(0, 0, 0, 0.4); */
}

.temp-classholder {
  opacity: 0;
  transition: 0.5s;
}

/* #weaponCharts { */
/*   min-height: 98vh; */
/*   min-width: 98vw; */
/*   height: 100%; */
/*   width: 100%; */
  /*! border: 5px solid transparent; */
/*   opacity: 0; */
/*   overflow-y: scroll; */
/*   overflow-x: hidden; */
/*   background-color: white; */
/*   margin-left: -1vw; */
/* } */

@-webkit-keyframes loading {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes loading {
  from {opacity: 0}
  to {opacity: 1}
}

#weaponContainer {
/*   overflow-y: scroll; */
  height: 100%;
  width: 100%;
  padding-top: 250px;
/*   box-shadow: inset 0 0 85px rgba(0, 0, 0, 0.4); */
  padding-bottom: 90vh;

}

.wepChartsItem {
  height: 100px;
  width: 80vw;
  margin-left: 10vw;
  display: flex;
/*   flex-flow: row nowrap; */
  background-color: transparent;
  border: none;
  margin-bottom: 100px;
/*   transition: 0.3s; */
  position: relative;
  opacity: 1;
/*   cursor: pointer; */
}

.wepNumber {
  height: 100px;
  width: 150px;
/*   margin-right: 10px; */
  font-size: 7em;
  position: absolute;
/*   top: -40px; */
  transition: 0.3s;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  color: white;
  z-index: 1;
  pointer-events: none;
/*   text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.2),
    1px 1px 1px rgba(0, 0, 0, 0.8); */
}

.beingFocused .wepNumber {
  opacity: 0.3;
  -webkit-transform: translate3d(0, 550px, 0);
          transform: translate3d(0, 550px, 0);
}

.wepIcons {
  width: 100px;
  height: 100px;
  justify-self: flex-start;
  display: flex;
/*   border: 50px solid black; */
/*   border: 50px solid transparent; */
  border-radius: 15px 0px 0px 15px;
/*   box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, .3); */
  position: absolute;
/*   left: 100px; */
  z-index: 2;
}

.beingFocused .wepIcons {
  -webkit-animation-name: move-to-side;
          animation-name: move-to-side;
/*   -webkit-animation-duration: 0.5s; */
/*           animation-duration: 0.5s; */
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes move-to-side {
  from {opacity: 1;}
  to {opacity: 0;}
}

@keyframes move-to-side {
  from {opacity: 1;}
  to {opacity: 0;}
}

/* @-webkit-keyframes move-to-side {
  from {-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0); opacity: 1;}
  to {-webkit-transform: translate3d(0%, 0, 0);transform: translate3d(-100%, 0%, 0); opacity: 0;}
}

@keyframes move-to-side {
  from {-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0); opacity: 1;}
  to {-webkit-transform: translate3d(0%, 0, 0);transform: translate3d(-100%, 0%, 0); opacity: 0;}
} */

.notFocused .wepIcons {
  -webkit-animation-name: move-from-side;
          animation-name: move-from-side;
/*   -webkit-animation-duration: 0.5s; */
/*           animation-duration: 0.5s; */
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes move-from-side {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes move-from-side {
  from {opacity: 0}
  to {opacity: 1}
}

/* @-webkit-keyframes move-from-side {
  from {-webkit-transform: translate3d(0, -100%, 0);transform: translate3d(-100%, 0%, 0); opacity: 0}
  to {-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0); opacity: 1}
}

@keyframes move-from-side {
  from {-webkit-transform: translate3d(0, -100%, 0);transform: translate3d(-100%, 0%, 0); opacity: 0}
  to {-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0); opacity: 1}
} */

.item-body {
  display: flex;
  flex-flow: column nowrap;
  height: 100px;
}

.beingFocused .item-body {
  height: 800px;
/*   width: 90vw; */
}

.weapon-header {
  height: 50px;
  position: absolute;
  width: 80%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
/*   margin-top: -50px; */
  transition: 0.2s;
  -webkit-transform: translate3d(-100px, 0px, 0);
          transform: translate3d(100px, 0px, 0);
}

.beingFocused .weapon-header {
  -webkit-transform: translate3d(100px, 0, 0);
          transform: translate3d(100px, 0, 0);
}

.wepTypeDamType {
  display: flex;
  z-index: 1;
  color: white;
  width: 200px;
  line-height: 200px;
  align-items: center;
/*   flex-flow: column nowrap; */
/*   font-weight: bold; */
/*   white-space:nowrap; */
  justify-content: space-evenly;
  transition: 0.2s;
}

.wepName {
  line-height: 50px;
/*   font-size-adjust: 0.7; */
  font-size: 1.5em;
  color: white;
}

.damage-type-icon {
  height: 25px;
  width: 25px;
}

.wepType {
  line-height: 40px;
}

.popularityAndWinRate {
  display: flex;
  justify-content: space-between;
  white-space:nowrap;
  width: 250px;
  color: white;
  display: none;
/*   background-color: rgba(0, 0, 0, 0.8); */
/*   color: white; */
}

.timesUsed {
/*   height: 50%; */
  display: flex;
  align-items: center;
}

.winRate {
/*   height: 50%; */
  align-items: center;
}

.combAndCompButtons {
  opacity: 0;
  pointer-events: none;
  position: absolute;
/*   height: 140px; */
  width: 400px;
  bottom: 30px;
  left: 100px;
}

.beingFocused .combAndCompButtons {
  opacity: 1;
  pointer-events: auto;
}

.combination-button, .comparison-button {
  height: 60px;
  width: 180px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  transition: 0.3s;
}

.combination-button {
  margin-right: 20px;
}

.combination-button:hover, .comparison-button:hover {
  opacity: 1;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
}

.wepDescription {
/*   position: absolute; */
/*   top: 500px; */
/*   left: 16vw; */
/*   margin-top: -25px; */
/*   padding-top: 25px; */
  height: 50px;
  width: 80vw;
  line-height: 50px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
/*   opacity: 0; */
  color: white;
  font-style: italic;
  z-index: -2;
/*   transform: translate3d(-90px, 0, 0); */
}

.beingFocused .wepDescription {
  opacity: 1;
  -webkit-transform: translate3d(0px, 700px, 0);
          transform: translate3d(0px, 700px, 0);
}

.notFocused .wepDescription {
  opacity: 0;
  -webkit-transform: translate3d(0px, 0px, 0);
          transform: translate3d(0px, 0px, 0);
}



.t6 {
/*   background-color: #ceae33; */
/*   opacity: 0.5; */
/*   background: rgba(206, 174, 51, .7); */
  background: #b6a049;
  border: 1px solid rgba(206, 174, 51, .7);
  box-shadow: 0px 0px 4px 0px rgba(206, 174, 51, .7);
}

.t5 {
/*   background-color: #522f65; */
/*   background: rgba(82, 47, 101, .8); */
  background: #5b3f6a;
/*     background-color: rgba(0, 0, 0, 0.8); */
  border: 1px solid rgba(82, 47, 101, .8);
  box-shadow: 0px 0px 4px 0px rgba(82, 47, 101, .8);
}

.t4 {
/*   background-color: #5076a3; */
/*   background: rgba(80, 118, 163, .7); */
  background: #5e7898;
  border: 1px solid rgba(80, 118, 163, .7);
  box-shadow: 0px 0px 4px 0px rgba(80, 118, 163, .7);
}

.t3 {
/*   background-color: #366f42; */
/*   background: rgba(54, 111, 66, .7); */
  background: #4b7454;
  border: 1px solid rgba(54, 111, 66, .7);
  box-shadow: 0px 0px 4px 0px rgba(54, 111, 66, .7);
}

.t2 {
/*   background-color: #c3bcb4; */
/*   background: rgba(195, 188, 180, .7); */
  background: #afaaa4;
  border: 1px solid rgba(195, 188, 180, .7);
  box-shadow: 0px 0px 4px 0px rgba(195, 188, 180, .7);
}

.wepAttributes6 {
/*   background: rgba(206, 174, 51, .6); */
  box-shadow: 2px 2px 3px rgba(206, 174, 51, .6),
    -0px -1px 1px rgba(255, 255, 255, 0.2);
}

.wepAttributes5 {
/*   background: rgba(82, 47, 101, .6); */
/*   background-color: rgba(0, 0, 0, 0.8); */
  box-shadow: 2px 2px 3px rgba(82, 47, 101, .5),
    -0px -1px 1px rgba(255, 255, 255, 0.2);
}

.wepAttributes4 {
/*   background: rgba(80, 118, 163, .6); */
  box-shadow: 2px 2px 3px rgba(80, 118, 163, .6),
    -0px -1px 1px rgba(255, 255, 255, 0.2);
}

.wepAttributes3 {
/*   background: rgba(54, 111, 66, .6); */
  box-shadow: 2px 2px 3px rgba(54, 111, 66, .6),
    -0px -1px 1px rgba(255, 255, 255, 0.2);
}

.wepAttributes2 {
/*   background: rgba(195, 188, 180, .6); */
  box-shadow: 2px 2px 3px rgba(195, 188, 180, .6),
    -0px -1px 1px rgba(255, 255, 255, 0.2);
}



.wepAttributes {
  height: 100px;
/*   width: 1200px; */
  width: 80vw;
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: space-between;
  position: absolute;
/*   transition: 0.5s; */
/*   background-color: #303030; */
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 15px 15px 15px 15px;
}

.beingFocused .wepAttributes {
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  border-radius: 15px 15px 0px 0px;
/*   -webkit-animation-name: bg-fade-in; */
/*           animation-name: bg-fade-in; */
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.notFocused .wepAttributes {
  height: 100px;
/*   -webkit-animation-name: bg-fade-out; */
/*           animation-name: bg-fade-out; */
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes bg-fade-out {
  from {height: 700px; background-color: transparent}
  to {height: 100px; background-color: rgba(0, 0, 0, 1)}
}

@keyframes bg-fade-out {
  from {height: 700px; background-color: transparent}
  to {height: 100px; background-color: rgba(0, 0, 0, 1)}
}

.notFocused {
  height: 100px;
}

@-webkit-keyframes bg-fade-in {
  from {background-color: rgba(0, 0, 0, 1)}
  to {background-color: transparent}
}

@keyframes bg-fade-in {
  from {background-color: rgba(0, 0, 0, 1)}
  to {background-color: transparent}
}

.bg-image-holder {
  position: absolute;
  height: 100px;
  width: 80vw;
  border-radius: 15px;
/*   background-color: rgba(0, 0, 0, 1); */
  z-index: -1;
/*   opacity: 0; */
}

.beingFocused .bg-image-holder {
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  width: 80vw;
  border-radius: 15px 15px 0 0;
/*   opacity: 1; */
/*     -webkit-animation-name: bg-fade; */
/*           animation-name: bg-fade; */
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.4s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes bg-fade {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes bg-fade {
  from {opacity: 0}
  to {opacity: 1}
}

.statsContainer {
  border-radius: 0 3px 3px 0;
/*   background-color: orange; */
  width: 350px;
}

/* .chartjs-render-monitor { */
  
/* } */

.pie-chart {
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
  position: absolute;
  right: 380px;
  margin-top: 30px;
}

.beingFocused .pie-chart {
/*   opacity: 1; */
/*   pointer-events: auto; */
}

.beingFocused .wepStatVals {
  flex-flow: column nowrap;
/*   transition: 0.2s; */
  height: 700px;
  padding: 10px;
  opacity: 1;
}

.beingFocused {
/*   height: 700px; */
  z-index: 5;
}

.wepStatVals {
  display: flex; 
  height: 200px;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  opacity: 0;
} 
 
.statBarContainers {
/*   background-color: red; */
  height: 50%;
  width: 40%;
  display: flex;
/*   display: none; */
  align-self: center;
  position: relative;
}

.statVals {
  width: 4em;
  line-height: 110%;
/*   background-color: black; */
  color: white;
  padding-right: 10px;
  padding-left: 10px;
}

.statNames {
/*   background-color: black; */
  line-height: 110%;
  height: 100%;
  width: 10em;
  white-space: nowrap;
  color: white;
  text-align: right;
  padding-right: 10px;
  padding-left: 10px;  
}

.eachWepStatBar {
  background-color: white;
}

.eachStatBarBg {
/*   background: rgba(195, 188, 180, .6); */
  background: rgba(0, 0, 0, 0.5);
}

.eachAvStatBar {
  border-right: 5px solid orange;
  position: absolute;
  height: 100%;
}

.eachWepStat {
  display: flex;
  justify-content: flex-end;
/*   justify-content: space-between; */
  height: 18px;
  width: 350px;
/*   margin-left: -7vw; */
}

.add-margin-top {
  margin-top: 350px;
}

.playerPerformances {
  justify-content: space-evenly;
  align-self: flex-end;
  opacity: 0;
}

.beingFocused .playerPerformances {
  opacity: 1;
}

.playerStatBarContainers {
/*   background-color: powderblue; */
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  height: 50%;
  width: 50%;
  display: flex;
  align-self: center;
  position: relative;
  transition: 0.5s;
}

.eachPlayerStatBar {
  border-right: 5px solid cyan;
  position: absolute;
  height: 100%;
/*   opacity: 0; */
  z-index: 1;
  transition: 0.5s;
}

.eachPlayerStatBarLeft {
  background-color: rgba(255, 0, 0, 0.5);
  border-radius: 15px 0 0 15px;
/*   opacity: 0; */
}

.eachPlayerStatBarRight {
  background-color: rgba(0, 255, 0, 0.3);
  border-radius: 0 15px 15px 0;
/*   opacity: 0; */
}

.beingFocused .eachPlayerStatBar, .beingFocused .eachPlayerStatBarLeft, .beingFocused .eachPlayerStatBarRight {
  opacity: 1;
}



.wepPerks {
  display: flex;
  flex-flow: row nowrap;
  width: 200px;
  height: 100px;
  margin-top: 1vh;
  margin-left: 1vh;
  opacity: 0;
/*   -webkit-transform: translate3d(200px, 0, 0); */
/*           transform: translate3d(450px, 0, 0); */
/*   border: 5px groove red; */
/*   transition: 0.2s; */
  z-index: 3;
}

.beingFocused .wepPerks {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.weapon-socket {
  opacity: 0;
  pointer-events: none;
  position: relative;
  height: 3em;
  width: 48px;
  
/*   transition: 0.2s; */
}

.weapon-socket:first-child, .beingFocused .weapon-socket {
  opacity: 1;
  pointer-events: auto;
}

.weapon-socket .socket-tooltip {
  visibility: hidden;
  position: absolute;
}

.weapon-socket:hover .socket-tooltip {
  visibility: visible;
}

.socketIcons {
  height: 3em;
}

.socketIcons:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  position: absolute;
  z-index: 3;
}

.socket-tooltip {
  background-color: black;
  color: white;
/*   min-height: 15em; */
  width: 15em;
  padding-top: 7em;
  padding-bottom: 1em;
  border-radius: 15px;
  display: flex;
  justify-content: space-evenly;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  margin-top: -3vh;
  margin-left: -6em;
  pointer-events: none;
  z-index: 1;
}

.socketName {
  font-size-adjust: 0.7;
/*   background-color: green; */
}

.socketDesc {
/*   background-color: skyblue; */
  width: 80%;
}





.show-wep-types-form {
  background-color: black;
  height: 12vh;
  width: 20vw;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 5;
  display: flex;
  display: none;
}

.show-wep-types-button {
  border: none;
  /*! background-color: royalblue; */
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

.wep-type-selector {
  position: fixed;
/*   -webkit-clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%); */
/*           clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%); */
  top: 0;
  right: 0;
  z-index: 5;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  justify-content: center;
  grid-gap: 15px;
  height: 10%;
  width: 69vw;
/*   background-image: linear-gradient(to right, transparent, black); */
/*   background-image: linear-gradient(to right, gray, black); */
/*   border-right: 10px solid black; */
/*   background-color: rgba(255, 255, 255, 0.2); */
/*   background-color: #303030; */
/*   background-color: rgba(8, 46, 89, 1); */
/*   box-shadow: inset 10px 0 20px rgba(0, 0, 0, 0.5); */
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 25px;
  padding-bottom: 10px;
/*   box-shadow: inset -1px 15px 5px rgba(0, 0, 0, 0.8); */
/*   opacity: 0; */
  transition: 0.5s;
/*   -webkit-transform: translate3d(90%, 0%, 0); */
/*           transform: translate3d(90%, 0%, 0); */
}

.wep-type-selector:hover {
  opacity: 1;
  -webkit-transform: translate3d(0%, 0%, 0);
          transform: translate3d(0%, 0%, 0);
}

.wep-type-selector button {
/*   height: 4.5em; */
  height: 3.5vh;
  width: 7vw;
/*   float: right; */
/*   width: 8em; */
/*   -webkit-transform: scale(1.2) rotate3d(0, 1, 0, 90deg); */
/*           transform: scale(1.2) rotate3d(0, 1, 0, 90deg); */
/*   padding-right: 10px; */
/*   padding-left: 10px; */
/*   color: transparent; */
  line-height: 100%;
/*   font-size-adjust: 0.6; */
  transition: 0.2s;
/*   border: 5px solid transparent; */
  border: none;
  border-radius: 10px;
/*   border-top: 1px solid rgba(255, 255, 255, 0.3); */
/*   border-bottom: 2px solid rgba(255, 255, 255, 0.3); */
/*   text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); */
/*   background-image: linear-gradient(to top, black, rgba(0, 0, 255, 1)); */
/*   background-color: rgba(0, 100, 255, .7); */
  background-color: rgba(8, 46, 89, 1);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); 
/*   box-shadow: 0px 0px 1px rgba(255, 255, 255,  0.8); */
}

/* .top-row { */
/*   background-image: linear-gradient(to bottom, black, rgba(0, 0, 255, 1)); */
/* } */

/* .bottom-row { */
/*   background-image: linear-gradient(to top, black, rgba(0, 0, 255, 1)); */
/* } */

.wep-type-selector button p {
/*   position: relative; */
  z-index: 3;
}

.wep-type-selector button:hover {
  cursor: pointer;
  background-color: rgba(0, 100, 255, 1); 
  z-index: 4;
  color: white;
/*   box-shadow: 0px 5px 5px rgba(255, 255, 255, 0.8); */
/*   border-radius: 5px; */
/*   -webkit-transform: translate3d(0, 0, 20px);  */
/*           transform: translate3d(0, 0, 20px); */
/*   transform: translateZ(20px); */
/*   box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), */
/*               -2px -2px 5px rgba(255, 255, 255, 0.3); */
/*   font-size-adjust: 0.6; */
}

.wep-type-selector .type-selection {
  background-color: rgba(0, 100, 255, 1); 
  z-index: 4;
  color: white;
}

.finished-loading button {
/*   -webkit-transform: scale(1) rotate3d(0, 0, 0, 90deg); */
/*           transform: scale(1) rotate3d(0, 0, 0, 90deg); */
  color: rgba(255, 255, 255, 0.7);
}









@media only screen and (max-width:500px) {
  header {
    height: 12vh;
  }
  .combine-and-compare-button, .show-charts-button {
    line-height: 1vh;
    font-size-adjust: 0.4;
  }
  .wep-type-selector {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  .wep-type-selector button {
    height: 4vh;
    width: 50vw;
  }
  .show-wep-types-form {
    display: flex;
    z-index: 6;
  }
  .display-types {
    -webkit-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0);
    left: 0;
  }
  .show-CC-options-form {
    display: flex;
    height: 5vh;
  }
  .weapon-list-parent {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0)
  }
  .show-options {
    -webkit-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0);
  }
  .clicked-weapon {
    font-size-adjust: 0.5;
    -webkit-transform: translate3d(-85%, -20%, 0);
            transform: translate3d(-85%, -20%, 0);
  }
/*   .clicked-weapon .statBarContainers { */
/*     width: 20%; */
/*   } */
  .beingFocused {
    height: 800px;
  }
  .beingFocused .bg-image-holder {
    height: 800px;
  }
  .wepChartsItem {
    margin-bottom: 100px;
  }
  .beingFocused.wepChartsItem {
    margin-bottom: 200px;
  }
  .wepNumber {
    width: unset;
  }
  .weapon-header {
    margin-left: -35vw;
  }
  .beingFocused .weapon-header {
    -webkit-transform: translate3d(80%, 0, 0);
            transform: translate3d(80%, 0, 0);
  }
  .wepIcons {
    left: 50px;
  }
  .statBarContainers {
    width: 30%;
  }
  .playerStatBarContainers {
    width: 30%;
  }
  .add-margin-top {
    margin-top: 2vh;
  }
  .playerPerformances {
    align-self: flex-start;
  }
  .statsContainer {
    display: flex;
/*     align-items: flex-end; */
    padding-top: 90%;
    opacity: 0;
  }
  .beingFocused .statsContainer {
    opacity: 1;
  }
  .wepDescription {
    height: 100px;
    line-height: unset;
  }
  .wepPerks {
    opacity: 0;
    -webkit-transform: translate3d(140%, 0, 0);
            transform: translate3d(140%, 0, 0);
  }
  .beingFocused .wepPerks {
    opacity: 1;
    -webkit-transform: translate3d(140%, 40%, 0);
            transform: translate3d(140%, 40%, 0);
  }
  .beingFocused .wepAttributes {
    height: 800px;
  }
  .pie-chart {
    display: none;
  }
/*   .combine-and-compare-display { */

/*   } */
  .chooseAMethod {
    -webkit-transform: translate3d(-290%, 30%, 0);
            transform: translate3d(-290%, 30%, 0);
  }
  .clicked-weapon-header {
    padding-left: 50px;
  }
}